@charset "UTF-8";

:root {
    --cor1: #EDEDED;
    --cor2: #79E3BD;
    --cor3: #56BB97;
    --cor4: #39574C;

    --fonte-padrao: Arial, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--cor2);
}

.logo {
    position: fixed;
    top: 0px;
    right: 0px;
    height: 0px;
    margin: 7px;
    padding: 16px 15px;
    z-index: 1000; /* Ensures it stays above other elements */
}

header {
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    background-color: var(--cor4);
}

header h1 {
    margin: 0;
    font-size: 24px;
}

header > img {
    width: 50%;

}

nav {
    background-color: var(--cor5);
    padding: 10px;
}

nav > a {
    color: var(--cor2);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

main {
    padding: 20px;
}

footer {
    background-color: var(--cor4);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
